In [ ]:
# -Buatlah sebuah list dengan value berupa:
  #     numbers = [951, 402, 984, 651, 360, 69, 408, 319, 601,
  #                485, 980, 507, 725, 547, 544, 615, 83, 165,
  #                141, 501, 263, 617, 865, 575, 219, 390, 984,
  #                592, 236, 105, 942, 941, 386, 462, 47, 418,
  #                907, 344, 236, 375, 823, 566, 597, 978, 328,
  #                615, 953, 345, 399, 162, 758, 219, 918, 237,
  #                412, 566, 826, 248, 866, 950, 626, 949]
  #        -Loop dan print semua angka genap dari list angka diatas dengan urutan yang sama. 
  #        -Jangan mencetak angka apapun yang muncul setelah angka 918 berdasarkan posisi angka tersebut pada list diatas.
  #        -\Tampilkan pesan ”Done” setelah looping berakhir.

In [24]:
#LOOP DAN PRINT SEMUA ANGKA GENAP DENGAN URUTAN YANG SAMA

for numbers in [951, 402, 984, 651, 360, 69, 408, 319, 601, 
          485, 980, 507, 725, 547, 544, 615, 83, 165,
          141, 501, 263, 617, 865, 575, 219, 390, 984,
          592, 236, 105, 942, 941, 386, 462, 47, 418,
          907, 344, 236, 375, 823, 566, 597, 978, 328,
          615, 953, 345, 399, 162, 758, 219, 918, 237,
          412, 566, 826, 248, 866, 950, 626, 949] : 
    if numbers % 2 == 1:
        continue
    print(f"{numbers} adalah angka genap")

402 adalah angka genap
984 adalah angka genap
360 adalah angka genap
408 adalah angka genap
980 adalah angka genap
544 adalah angka genap
390 adalah angka genap
984 adalah angka genap
592 adalah angka genap
236 adalah angka genap
942 adalah angka genap
386 adalah angka genap
462 adalah angka genap
418 adalah angka genap
344 adalah angka genap
236 adalah angka genap
566 adalah angka genap
978 adalah angka genap
328 adalah angka genap
162 adalah angka genap
758 adalah angka genap
918 adalah angka genap
412 adalah angka genap
566 adalah angka genap
826 adalah angka genap
248 adalah angka genap
866 adalah angka genap
950 adalah angka genap
626 adalah angka genap

In [50]:
numbers = [951, 402, 984, 651, 360, 69, 408, 319, 601, 
          485, 980, 507, 725, 547, 544, 615, 83, 165,
          141, 501, 263, 617, 865, 575, 219, 390, 984,
          592, 236, 105, 942, 941, 386, 462, 47, 418,
          907, 344, 236, 375, 823, 566, 597, 978, 328,
          615, 953, 345, 399, 162, 758, 219, 918, 237,
          412, 566, 826, 248, 866, 950, 626, 949]
for i in numbers:
  if (i == 918):
    break
  print("done")
  print(i)

done
951
done
402
done
984
done
651
done
360
done
69
done
408
done
319
done
601
done
485
done
980
done
507
done
725
done
547
done
544
done
615
done
83
done
165
done
141
done
501
done
263
done
617
done
865
done
575
done
219
done
390
done
984
done
592
done
236
done
105
done
942
done
941
done
386
done
462
done
47
done
418
done
907
done
344
done
236
done
375
done
823
done
566
done
597
done
978
done
328
done
615
done
953
done
345
done
399
done
162
done
758
done
219