In [13]:
#cek apakah angka berada di variabel angka adalah bilangan ganjil/genap ?

angka = 15
if angka%2 != 1:
  print(f'{angka}adalah bilangan genap')
else: 
  print(f'{angka} adalah bilangan ganjil')

15 adalah bilangan ganjil

In [14]:
bahasa_pemograman = ["python","java","js","golang"]
bahasa = "html"

if bahasa in bahasa_pemograman:
  print(f"{bahasa} ada dalam list bahasa_pemograman")
else:

  print(f"{bahasa} tidak ada dalam list bahasa pemograman")

html tidak ada dalam list bahasa pemograman

In [20]:
#memiliki 2 logika
angka = 35
if angka > 30:
  print(f"{angka} lebih besar dari 30")
elif angka == 30:
  print(f"{angka} sama dengan 30")
else:
  print(f"{angka} lebih kecil dari 30")

#if harus ada, sedangkan else opsional

35 lebih besar dari 30

In [21]:
#dictionary

biodata = {'nama': 'afif', 'pekerjaan' : 'Data Scientist', 'usia':20}
'usia' in biodata

True

In [22]:
'afif' in biodata.values()

True

In [71]:

# [ 85 - 100  ]  : A
# [ 70 - 85   ]  : B
# [ 50 - 70   ]  : C
# [ 25 - 50   ]  : D
# [0 - 25     ]  : E

angka = 80
if 0 <= angka <= 100:
        if angka >= 85:
        print("A")
        elif angka =>70:
        print("B")
        elif angka =>50:
        print("C")
        elif angka =>25:
        print("D")
      else:
      print("E")
  else:
    print('NILAI TIDAK VALID')

IndentationError: ignored

In [39]:
#LOOPING

i = 0
while i < 5:
  print(f"i={i}, dalam while loop")
  i = i + 1

i=0, dalam while loop
i=1, dalam while loop
i=2, dalam while loop
i=3, dalam while loop
i=4, dalam while loop

In [48]:
i = 1 
while i <= 10:
  print(f"7 x {i} = {7*i}")
  i += 1                        # i = i + 1

7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

In [56]:
#NESTED LOOP 

i = 0
j = 0

while j<= 10 :
  i = 1
  while i <=10 :
    print(f"{j} x {i} = {j*i}")
    i += 1
    print("*"*50)
    j += 1

0 x 1 = 0
**************************************************
1 x 2 = 2
**************************************************
2 x 3 = 6
**************************************************
3 x 4 = 12
**************************************************
4 x 5 = 20
**************************************************
5 x 6 = 30
**************************************************
6 x 7 = 42
**************************************************
7 x 8 = 56
**************************************************
8 x 9 = 72
**************************************************
9 x 10 = 90
**************************************************
10 x 1 = 10
**************************************************
11 x 2 = 22
**************************************************
12 x 3 = 36
**************************************************
13 x 4 = 52
**************************************************
14 x 5 = 70
**************************************************
15 x 6 = 90
**************************************************
16 x 7 = 112
**************************************************
17 x 8 = 136
**************************************************
18 x 9 = 162
**************************************************
19 x 10 = 190
**************************************************

In [57]:
#BREAK

i = 1
while i <= 10:
  print(f"7 x {i} = {7*i}")
  i += 1
  if i == 5 :
    break

7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28

In [60]:
pesanan = []
while True:
  pesan = input("Masukkan Pesanan Anda : ")
  if pesan == 'cukup':
    break
    pesanan.append(pesan)
    print(pesanan)

Masukkan Pesanan Anda : teh
Masukkan Pesanan Anda : cukup

In [62]:
#Continue

i = 1
while i <= 10:
  i += 1
  if i == 5:
    continue
  print(f"7 x {i} = {7*i}")

7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70
7 x 11 = 77

In [64]:
#FOR LOOP

buah = ["pepaya","mangga","pisang","jambu"]
for b in buah :
  print(f"{b} adalah item dalam list buah")

pepaya adalah item dalam list buah
mangga adalah item dalam list buah
pisang adalah item dalam list buah
jambu adalah item dalam list buah

In [65]:
i = 0
buah = ["pepaya","mangga","pisang","jambu"]
while i < len(buah):
  print(buah[i])
  i += 1

pepaya
mangga
pisang
jambu

In [69]:
list(range(1,11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [70]:
# Tabel perkalian

for i in range(1,11):
  print(f"{j} x {i} = {j*i}")

20 x 1 = 20
20 x 2 = 40
20 x 3 = 60
20 x 4 = 80
20 x 5 = 100
20 x 6 = 120
20 x 7 = 140
20 x 8 = 160
20 x 9 = 180
20 x 10 = 200